{{ "<!-- ENTERING layouts/_default/single.html -->" | safeHTML }}
{{ partial "head.html" . }}
<body>
{{ partial "detailpage-header.html" . }}
{{ partial "sidebar-ja.html" . }}
<main>
    <div class="container">
      <!--  Outer row  -->
      <div class="row">

        <div class="col s12 m9 l10">
          <!--  Material Design -->
          <div id="materialdesign" class="section scrollspy">

            {{ if not .Params.hideheaderblock }}
            <div class="card-panel grey lighten-4">
            {{ if not .Params.hidedate }}<span class="post-date grey-text"><i class="tiny material-icons">today</i>&nbsp;{{ .Date.Format "2-Jan-2006" }}</span>{{ end }}{{ if not .Params.hideauthor }}&nbsp;<span class="post-date grey-text"><i class="tiny material-icons">perm_identity</i>&nbsp;
              {{ if isset .Params "authorkey" }}
                {{ $author := index $.Site.Data.authors .Params.authorkey }}
                {{ $dispname := ( index $author "ja-JP" ).display_name }}
                {{ $biourl := ( index $author "ja-JP" ).bio_url }}
                <a href="{{ $biourl }}" target="_blank">{{ $dispname }}</a>
              {{ end }}
              </span>{{ end }}
            {{ $Site := .Site }}
            {{ if .Params.topics }}
                <div class="post-topics grey-text"><i class="tiny material-icons">label_outline</i>&nbsp;
                {{ range .Params.topics }}
                    <a class="post-topic post-topic-{{ . | urlize }}" href="{{ $Site.BaseURL}}/topics/{{ . | urlize }}">{{ . }}</a>
                {{ end }}
                </div>
            {{ end }}
            </div>
            {{ end }}

            {{ .Content }}
            {{if isset .Params "showtopics" }}
              {{ partial "detailpage-topics.html" . }}
            {{ end }}
            {{ if not .Params.hidecomments }}
              {{ partial "discourse.html" . }}
            {{ end }}
            {{if isset .Params "gallery_id" }}
              {{ partial "gallery.html" . }}
            {{ end }}
            {{ partial "form-moreinfo.html" . }}
            {{if isset .Params "warning" }}
              {{ partial "warning.html" . }}
            {{ end }}
          </div>
        </div>
        <!-- Put Table of Contents Partial Here -->
      </div>
    </div>
    <!-- End Container -->
</main>
  {{ partial "footer-detail-ja.html" . }}
  {{ partial "bodyend.html" . }}
</body>
</html>
{{ "<!-- LEAVING layouts/_default/single.html -->" | safeHTML }}
