{{ "<!-- ENTERING layouts/_default/summary.html -->" | safeHTML }}
<article class="post">
            <header class="post-header">
            {{ if .Site.Params.thumbnail }}
            <div class="post-avatar-wrapper">
              <img class="post-avatar" alt="" src="{{ .Site.Params.thumbnail }}">
            </div>
            {{ end }}
            <h3 class="post-title">
              <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
            </h3>
            </header>

            {{ if not .Params.hideheaderblock }}
            {{ if not .Params.hidedate }}<span class="post-date grey-text"><i class="material-icons" style="font-size: 12px">today</i>&nbsp;<small>{{ .Date.Format "2-Jan-2006" }}</small></span>{{ end }}
            {{ if not .Params.hideauthor }}&nbsp;<span class="post-date grey-text"><small>{{ .Params.author }}</small></span>{{ end }}
            {{ $Site := .Site }}
            {{ if .Params.topics }}
                <span class="post-topics grey-text">&nbsp;|&nbsp;<small>
                {{ range .Params.topics }}
                    <a class="post-topic post-topic-{{ . | urlize }}" href="{{ $Site.BaseURL}}/topics/{{ . | urlize }}">{{ . }}</a>
                {{ end }}</small>
                </span>
            {{ end }}
            {{ end }}

            <div class="post-summary">
                {{ .Params.postsummary | markdownify }}
            </div>
			<footer class="read-more-link">
				<a href="{{ .RelPermalink }}">つづきを読む&nbsp;&hellip;</a>
			</footer>
</article>
{{ "<!-- LEAVING layouts/_default/summary.html -->" | safeHTML }}
