{{ partial "head.html" . }}
<body>
  <nav class="white z-depth-2 valign-wrapper" role="navigation">
    <div class="nav-wrapper container valign">
      <a id="logo-container" href="#" class="brand-logo">
        <img id="front-page-logo" class="esolia-logo responsive-img" src="img/eSolia-Logo-Flat-2015.svg">
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/about" class="blue-text text-darken-3">{{ ( index $.Site.Data.translations $.Site.Params.locale ).menuabout }}</a></li>
        <li>
          <a href="tel:+81-3-6273-3510" class="green-text text-accent-4">
            <em>Tel:</em>&nbsp;+81-3-6273-3510</a>
        </li>
        <li>
          <a href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).menulanguageswitchurl }}" class="green-text text-accent-4">{{ ( index $.Site.Data.translations $.Site.Params.locale ).menulanguageswitch }}</a>
        </li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/about" class="blue-text text-darken-3">{{ ( index $.Site.Data.translations $.Site.Params.locale ).menuabout }}</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot valign">
      <div class="container">
        <br>
        <br>
        <h1 class="header center orange-text text-lighten-1">{{ upper ( index $.Site.Data.translations $.Site.Params.locale ).topslogan | markdownify }}</h1>

        <div class="row center">
          <h3 class="header col s12 light">{{ ( index $.Site.Data.translations $.Site.Params.locale ).topsubslogan }}</h3>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="/img/eSolia-Banner-PapaBubble-Candy-3.jpg" alt="{{ ( index $.Site.Data.translations $.Site.Params.locale ).altphototemplecolumn }}">
    </div>
  </div>

  <div class="white z-depth-2">
    <div class="container">
      <div class="section">

        <!--   CARD SECTION   -->
        <!--   ROW 1   -->
        <div class="row">
          <div class="col s12 m6">
            <h2><i class="small mdi-social-whatshot purple-text text-accent-3"></i> Latest Posts</h2>
            <div class="posts">
              {{ $Site := .Site }}
              {{ range where .Data.Pages "Section" "en" }}
                  {{ .Render "summary" }}
              {{ end }}
            </div>
          </div>
          <div class="col s12 m6">
            <h2><i class="small mdi-social-whatshot purple-text text-accent-3"></i> 最新記事</h2>
            <div class="posts">
              {{ $Site := .Site }}
              {{ range where .Data.Pages "Section" "ja" }}
                  {{ .Render "summary" }}
              {{ end }}
            </div>
          </div>
      </div>
    </div>
  </div>

  <!-- START featured services and products -->
  <div class="grey darken-3 white-text z-depth-2">
    <div class="container">
      <div class="section">

        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center amber-text text-darken-4"><i class="mdi-action-stars"></i></h2>
              <h5 class="center">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genfeature }}</h5>

              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{{ ( index $.Site.Data.translations $.Site.Params.locale ).genfeature1img }}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genfeature1 }}<i class="mdi-navigation-more-vert right"></i></span>
                  <p><a href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).genfeature1url }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genmoreinfo }}</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genfeature1 }} <i class="mdi-navigation-close right"></i></span>
                  <p class="grey-text text-darken-4">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genfeature1text }}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center amber-text text-darken-4"><i class="mdi-action-stars"></i></h2>
              <h5 class="center">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genfeature }}</h5>

              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{{ ( index $.Site.Data.translations $.Site.Params.locale ).genfeature2img }}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genfeature2 }} <i class="mdi-navigation-more-vert right"></i></span>
                  <p><a href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).genfeature2url }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genmoreinfo }}</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genfeature2 }} <i class="mdi-navigation-close right"></i></span>
                  <p class="grey-text text-darken-4">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genfeature2text }}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col s12 m4 center">
            <div class="icon-block">
              <h2 class="center amber-text text-darken-4"><i class="mdi-social-notifications-on"></i></h2>
              <h5 class="center">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genlatestfeature }}</h5>
                <ul class="esList grey darken-2">
                  {{ $series := index .Site.Taxonomies.series "top1" }}
                  {{ range first 5 $series.Pages }}
                    <li>
                    <div class="esListItemTitle blue-text text-darken-1"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></div>
                    <div class="esListItemDate grey-text text-lighten-2">{{ .Date.Format "02 Jan, 2006" }}</div>
                    </li>
                  {{ end }}
                </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- END featured products and services -->

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m6 center">
          {{ if eq .Site.Params.locale "en-US" }}

          <h3><i class="mdi-content-send blue-text"></i></h3>
          <h4>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topsectioncus }}</h4>
          <div class="left-align">
              <strong>Tel:</strong>&nbsp;<a href="tel:+81-3-6273-3510">+81-3-6273-3510</a> (+81 &#8594; 0 inside Japan)
              <br>
              <strong>Email:</strong>&nbsp;<a href="mailto:info@esolia.co.jp">info@esolia.co.jp</a>
              <br>
              <strong>Address:</strong><br>
              Sawa Bldg. 6F, Nishi-Shimbashi 2-2-2, <br>
              Minato-ku, Tokyo 105-0003 Japan
              <br>
              <strong>Office Hours:</strong><br>
              9:00-18:00 JST, on weekdays
              <br>
              &nbsp;&nbsp;&nbsp;... or use our <a href="/info-request">info request</a> form.
              <p><a class="waves-effect waves-light blue btn" href="https://www.google.co.jp/maps/place/eSolia+Inc./@35.667716,139.751462,17z/data=!4m6!1m3!3m2!1s0x60188b933eb5098d:0xb799ee788fa28eb7!2seSolia+Inc.!3m1!1s0x60188b933eb5098d:0xb799ee788fa28eb7?hl=en" target="_blank"><i class="mdi-maps-place left"></i>{{ ( index $.Site.Data.translations $.Site.Params.locale ).genviewgooglemap }}</a></p>
          </div>

          {{ else if eq .Site.Params.locale "ja-JP" }}

          <h3><i class="mdi-content-send blue-text"></i></h3>
          <h4>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topsectioncus }}</h4>
          <div class="left-align">
              <strong>代表電話:</strong>&nbsp;<a href="tel:03-6273-3510">03-6273-3510</a>
              <br>
              <strong>メール:</strong>&nbsp;<a href="mailto:info@esolia.co.jp">info@esolia.co.jp</a>
              <br>
              <strong>所在地:</strong><br>
              〒105-0003 東京都港区西新橋2-2-2 澤ビル6階
              <br>
              <strong>お問い合わせ時間:</strong><br>
              平日 9:00〜18:00 (土日祝日を除く)
              <br>
              &nbsp;&nbsp;&nbsp;... 又は<a href="/info-request">お問い合わせ</a>フォームをご利用ください。
              <p><a class="waves-effect waves-light blue btn" href="https://www.google.co.jp/maps/place/eSolia+Inc./@35.667716,139.751462,17z/data=!4m6!1m3!3m2!1s0x60188b933eb5098d:0xb799ee788fa28eb7!2seSolia+Inc.!3m1!1s0x60188b933eb5098d:0xb799ee788fa28eb7?hl=en" target="_blank"><i class="mdi-maps-place left"></i>{{ ( index $.Site.Data.translations $.Site.Params.locale ).genviewgooglemap }}</a></p>
          </div>

          {{ end }}
        </div>
        <div class="col s12 m3 center">
          <h3><i class="mdi-communication-comment blue-text"></i></h3>
          <h4 class="center">Latest Services</h4>
          <p class="light">
            <div id="divRss2"></div>
          </p>
        </div>
        <div class="col s12 m3 center">
          <h3><i class="mdi-communication-comment blue-text"></i></h3>
          <h4 class="center">最新サービス</h4>
          <p class="light">
            <div id="divRss4"></div>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="index-social-icons grey darken-4 z-depth-1">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center">
            <a href="https://plus.google.com/+Esolia/posts" target="_blank"><i class="large icon-gplus red-text text-darken-1"></i></a>
            <a href="https://twitter.com/esolia_inc" target="_blank"><i class="large icon-twitter light-blue-text"></i></a>
            <a href="http://www.linkedin.com/company/esolia-inc" target="_blank"><i class="large icon-linkedin white-text"></i></a>
            <a href="http://www.facebook.com/eSolia" target="_blank"><i class="large icon-facebook indigo-text text-darken-2"></i></a>
            <a href="https://vimeo.com/channels/esolia" target="_blank"><i class="large icon-vimeo lime-text text-accent-3"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{ partial "footer-home.html" . }}
  {{ partial "bodyend.html" . }}
</body>

</html>
